#post-wrapper {
	margin: 0px;
	padding: 15px 30px 10px 50px;
}

#post-wrapper h1 {
	padding: 0px;
	margin: 0px;
}

#post-info {
	font-style: italic;
	font-size: 0.85em;
	padding-bottom: 10px;
	color: rgb(153,153,153);
}

#post-wrapper .date {
	font-weight: bold;
}

#post-wrapper .cat {
	font-weight: bold;
}

#post-content {
	text-indent: 20px;
	text-align: justify;
}

#post-content h2 {
	text-indent: 0px;
	font-size: 1.2em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#post-content p {
	margin-top: 0px;
}

#post-content ol, ul {
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px;
}

.img-wrap {
	text-align: center;
}

.image-center {
	display: inline-block;
	margin: 0px auto;
	padding: 0px auto;
}

.image-caption {
	display: block;
	margin: 0px auto;
	text-align: center;
}

.bash-command {
	font-family: "Courier New",Courier,monospace;
	background-color: rgb(240,240,240);
	border-radius: 5px;
}

.bash-command pre {
	font-family: inherit;
}

.round-item {
	border: 1px solid rgb(221, 221, 221);
	margin: 0px 2px;
	padding: 2px 5px;
	background-color: rgb(248, 248, 248);
	border-radius: 3px 3px 3px 3px;
	font-weight: bold;
	font-size: 0.85em;
}